# Build
target

# IDEA
*.iml
*.ipr
*.iws
.idea

# XWiki
hibernate.cfg.xml
xwiki.cfg
xwiki.properties

# Symbolic links
src/main/resources/logback.xml
src/main/webapp/redirect
src/main/webapp/resources
src/main/webapp/skins
src/main/webapp/templates
src/main/webapp/WEB-INF/cache
src/main/webapp/WEB-INF/fonts
src/main/webapp/WEB-INF/observation
src/main/webapp/WEB-INF/portlet.xml
src/main/webapp/WEB-INF/struts-config.xml
src/main/webapp/WEB-INF/sun-web.xml
src/main/webapp/WEB-INF/web.xml

#Other
*~

