{namespace JIRA.Templates.ProjectTemplates.Tutorial}

/**
 * Render the information page for XWiki Template.
 */
{template .renderXWikiTemplateExplanation}
    <p>{getText('xwiki.template.info.page.description')}</p>
{/template}